*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: auto;
}


    /*ABOUT PAGE */


.menu-button{
    position: absolute;
    top: 2rem;
    right: 1rem; 
    display: none;
    flex-direction: column;
    justify-content: space-between; 
    width: 30px;
    height: 20px;
}

.menu-button .bar{
    width: 100%;
    height: 3px;
    background-color: #f5fafa;
    border-radius: 10px;
}



.nav-bar{
    width: 100%;
    height: 90px;
    background-color: #03c04a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.logo-name{
    display: flex;
    cursor: pointer;
}

.logo-name img{
    width: 35px;
    object-fit: contain;
}

.logo-name h1{
    font-size: 25px;
    color: #f5fafa;
}

.nav-bar h1:hover{
    cursor: pointer;
    animation: bounceIn;
    animation-duration: 3s;
}

.text-bar{
    padding: 15px;
}

.text-bar a{
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    color: #f5fafa;
}

.text-bar a:hover{
    color: #292939;
    background-color:  #f5fafa;
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
}

.search-bar{
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.search-bar input{
    width: 400px;
    height: 45px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
}

.search-bar img{
    width: 25px;
    object-fit: contain;
    cursor: pointer;
}

img.cart{
    width: 30px;
}

p.sign{
    width: 65px;
    padding: 5px;
    border: 1px solid #f5fafa;
    text-align: center;
    color: #f5fafa;
    font-size: 14px;
}

p.login{
    width: 65px;
    padding: 5px;
    border: 1px solid #f5fafa;
    text-align: center;
    color: #f5fafa;
    font-size: 14px;
}

.fill-up a{
    text-decoration: none;
}

.fill-up p:hover{
    color: #03c04a;
    background-color: #f5fafa;
    cursor: pointer;
}

.about{
    width: 100%;
    max-width: 100%;
    height: auto;
    background-image: url(img/about-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    border-top: 1px solid #03c04a;
    padding: 250px 200px 200px 150px;
}

.about-text-box{
    width: 50%;
    height: 400px;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text-box h2{
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 40px;
    font-size: 40px;
    font-weight: bold;
    color: #f5fafa;
    background-color: #03c04a;
    box-shadow: 0px 0px 1px 1px #f5fafa;
    cursor: pointer;
    margin-bottom: 0px;
}

.about-text-box h2:hover{
    color: #03c04a;
    background-color: #f5fafa;
    animation: bounceIn;
    animation-duration: 3s;
    box-shadow: 0px 0px 1px 1px #03c04a;
}

p.description{
    font-size: 25px;
    color: #f5fafa;
    text-shadow: 1px 1px 1px #808080;
}

p.shop-now{
    color: #f5fafa;
    width: 70%;
    border: 1px solid #f5fafa;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

p.shop-now:hover{
    color: #000000;
    background-color: #f5fafa;
}

.about-text-box a{
   width: 100%;
   margin: 0;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer-box{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #292939;
    color: #f5fafa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-footer{
    width: 30%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.text-footer a{
    text-decoration: none;
    color: #f5fafa;
    margin-top: 10px;
    font-size: 16px;
}

.text-footer a:hover{
    color: #03c04a;
}

p.click-text{
    color: #f5fafa;
    font-size: 90%;
}

.payment-footer{
    text-align: center;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.payment-footer img{
    width: 50%;
    margin-top: 10px;
    cursor: pointer;
}

.social-footer{
    width: 30%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.social-footer img{
    width: 40%;
}

.social-footer img:hover{
    opacity: 0.8;
}

@media (min-width: 300px) and (max-width: 600px){

    .menu-button{
        display: flex;
        float: right;
    }

    .search-bar{
        display: none;
        background-color: #03c04a;
        width: 100%;
        position: absolute;
        padding: 10px;
        top: 5rem;
        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
    }

    .search-bar input{
        width: 300px;
        height: 45px;
    }

    .text-bar{
        display: none;
        width: 100%;
        background-color: #03c04a;
        padding: 0;
        position: relative;
        top: 14rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .text-bar a:hover{
        color: #292939;
        background-color:  #f5fafa;
        border-radius: 0;
        width: 100%;
        display: block;
    }

    .fill-up{
       display: none; 
       background-color: #03c04a;
       width: 100%;
       position: relative;
       top: 13.8rem;
       gap: 10px;
       align-items: center;
       justify-content: center;
       z-index: 1;
    }

    .nav-bar{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .logo-name{
        display: flex; 
        position: absolute;
        top: .5rem;
        float: left;
        align-items: center;
        justify-self: center;
        flex-direction: row;
        align-self: flex-start;
        margin-left: 20px;
    }

    .text-bar a{
        display: flex;
        padding: 20px;
        text-align: center;
    }

    .text-bar.active{
        display: flex;
    }

    .search-bar.active{
        display: flex;
    }

    .fill-up.active{
        display: flex;
    }

    .about{
        width: 100%;
        height: 800px;
        background-image: url(img/about-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        aspect-ratio: 9/16;
       background-position: center; 
        padding: 200px 10px;
    }

    .about-text-box{
        width: 100%;
        height: 500px;
        border-radius: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        z-index: -1;
    }
    
    .about-text-box h2{
        max-width: 70%;
        text-align: center;
        padding: 15px;
        border-radius: 40px;
        font-size: 30px;
        margin: 0;
    }
    
    .about-text-box h2:hover{
        color: #03c04a;
    }
    
    p.description{
        width: 70%;
        font-size: 20px;
        color: #f5fafa;
        text-shadow: none;
        padding: 10px;
        background-color: #000000;
        border-radius: 5px;
        opacity: 0.8;
        margin: 10px;
    }
    
    p.shop-now{
        max-width: 58%;
        padding: 10px;
        font-size: 18px;
        color: #000000;
        background-color: #f5fafa;
    }
    
    p.shop-now:hover{
        opacity: 0.8;;
    }
    
}

    /*MARKET PAGE*/
    
.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: 
    "sidebar nav nav"
    "sidebar main main";
    grid-gap: 20px;
    margin: 0;
    padding: 20px;
}

.nav-slide{
    grid-area: nav;
    grid-column: 2 / 4;
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #FAF9F6;
    overflow-x: scroll;
    border-radius: 10px;
    padding-left: 10px;
}


.nav-slide a:hover{
    background-color: #DCDCDC;
}

.nav-slide a{
    list-style: none;
    color: #353935;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 30px;
    border: 1px solid #808080;
    border-radius: 10px;
    margin: 10px;
}

.side-bar{
    grid-area: sidebar;
    grid-row: span 4;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FAF9F6;
    overflow-y: auto;
    border-radius: 5px;
    height: 680px;
}

.side-parent{
    width: 90%;
    padding: 10px;
    height: 100%;
}

.side-bar h2{
    width: 100%;
    color: #353935;
    font-size: 1.8rem;
    text-align: center;
}

.side-bar a{
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    color: 	#353935;
}

.side-bar li{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    display: block;
}

.side-bar li:hover{
    background-color: #DCDCDC;
}

.main-content{
    grid-area: main;
    grid-column: span 2;
    grid-row: span 3;
    /*border: 1px solid black;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #FAF9F6;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 510px;
}

.main-content li{
    box-shadow: 0px 0px 1px 1px #808080;
    list-style: none;
    color: #353935;
    text-decoration: none;
    width: 28%;
    height: 280px;
    margin: 20px;
    padding: 10px;
    transition: 300ms;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.main-content li:hover{
    /*background-color: #DCDCDC;*/
    box-shadow: 0px 0px 4px 1px #808080;
    transform: scale(1.1);
}

.main-content a{
    padding: 5px;
    width: 60%;
    height: 30px;
    color: #000000;
    border: 1px solid #000000;
    text-decoration: none;
    border-radius: 3px;
}

.main-content a:hover{
    color: #f5fafa;
    background-color: #000000;
}

.main-content img{
    width: 60%;
}

.main-content img.product{
    width: 50%;
}

@media (min-width: 300px) and (max-width: 361px){

    .main-content li{
        width: 60%;
        height: 230px;
    }

    .main-content a{
        width: 70%;
        font-size: 13px;
    }
    
}

@media (min-width: 361px) and (max-width: 380px){

    .main-content li{
        width: 37%;
        height: 230px;
    }

    .main-content a{
        width: 70%;
        font-size: 13px;
    }
    
}

@media (min-width: 381px) and (max-width: 410px){

    .main-content li{
        width: 38%;
        height: 240px;
    }

    .main-content a{
        width: 70%;
        font-size: 14px;
    }
    
}

@media (min-width: 411px) and (max-width: 449px){

    .main-content li{
        width: 39%;
        height: 250px;
    }

    .main-content a{
        width: 70%;
    }
    
}

@media (min-width: 450px) and (max-width: 600px){

    .main-content li{
        width: 40%;
    }
    
}

@media (min-width: 300px) and (max-width: 970px){

    .grid-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: 
        "nav nav nav"
        "sidebar sidebar sidebar"
        "main main main";
        grid-gap: 20px;
        margin: 0;
        padding: 20px;
    }
    
    .nav-slide{
        grid-area: nav;
        grid-column: 1 / 4;
        /*border: 1px solid black;*/
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: #FAF9F6;
        overflow-x: scroll;
        border-radius: 10px;
    }
    
    .side-bar{
        grid-area: sidebar;
        grid-column: 1 / 4;
        overflow-x: scroll;
        height: auto;
    }

    .side-parent{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FAF9F6;
        overflow-x: scroll;
        width: 100%;
        padding: 10px 5px;
        height: auto;
    }

    .side-parent ul{
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .main-content{
        grid-column: 1 / 4;
        overflow-y: hidden;
        width: 100%;
        height: auto;
        padding: 5px;
    }  
    
}

@media (min-width: 1350px) and (max-width: 1800px){

    .main-content img{
        width: 50%;
    }
    
    .main-content img.product{
        width: 40%;
    }

    .main-content li{
        height: 350px;
    }
}

@media (min-width: 1801px) and (max-width: 2000px){

    .main-content img{
        width: 50%;
    }
    
    .main-content img.product{
        width: 40%;
    }

    .main-content li{
        height: 400px;
    }
}



    /*SIGN UP PAGE*/
.nav-box{
    width: 100%;
    height: 90px;
    background-color: #f5fafa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-box a{
    position: absolute;
    right: 35%;
}

.nav-box a:hover{
    opacity: 0.8;
}

.nav-box img{
    width: 40px;
    cursor: pointer;
}

.nav-box h2{
    font-size: 25px;
    color: #03c04a;
    cursor: pointer;
}

.nav-box p{
    margin-left: 10px;
    font-size: 25px;
}

.sign-border{
    width: 100%;
    height: auto;
    background-color: #03c04a;
    padding: 50px;
}

.sign-box{
    width: 40%;
    height: auto;
    background-color: #f5fafa;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #808080;
    padding: 20px 40px;
}

.sign-box input{
    padding: 5px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: none;
    outline: 1px solid #03c04a;
    border-radius: 3px;
}

p.next{
    padding: 15px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 50px;
    color: #f5fafa;
    background-color: #03c04a;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 40px;
    cursor: pointer;
}

p.next:hover{
    opacity: 0.8;
}

.sign-box hr{
    height: 2px;
    background-color: #000000;
}

p.or{
    background-color: #f5fafa;
    text-align: center;
    position: relative;
    bottom: 26px;
    left: 45%;
    width: 30px;
}

.sign-box img{
    width: 35px;
}

a.g-icon{
    float: left;
    width: 48%;
    height: 45px;
    text-align: center;
    border: 1px solid #000000;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 40px;
    border-radius: 5px;
}

a.fb-icon{
    float: right;
    width: 48%;
    height: 45px;
    text-align: center;
    border: 1px solid #000000;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.sign-box label{
    cursor: pointer;
}
a.fb-icon:hover, a.g-icon:hover{
    cursor: pointer;
    background-color: #0a0a0a;
    color: #f5fafa;
}

p.terms{
    text-align: center;
}

p.have{
    text-align: center;
}

label.log-green{
    color: #03c04a;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.sign-box a{
    text-decoration: none;
}

@media (min-width: 300px) and (max-width: 400px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .sign-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .sign-box{
        width: 95%;
        padding: 20px 30px;
    }

}

@media (min-width: 401px) and (max-width: 500px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .sign-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .sign-box{
        width: 85%;
        padding: 20px 40px;
    }

}

@media (min-width: 501px) and (max-width: 600px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .sign-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .sign-box{
        width: 75%;
        padding: 20px 40px;
    }

}

@media (min-width: 601px) and (max-width: 800px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .sign-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .sign-box{
        width: 60%;
        padding: 20px 40px;
    }

}





    /*LOGIN PAGE*/

.nav-box{
    width: 100%;
    height: 90px;
    background-color: #f5fafa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-box a{
    position: relative;
    right: 35%;
}

.nav-box a:hover{
    opacity: 0.8;
}

.nav-box img{
    width: 40px;
    cursor: pointer;
}

.nav-box h2{
    font-size: 25px;
    color: #03c04a;
    cursor: pointer;
}

.nav-box p{
    margin-left: 10px;
    font-size: 25px;
}

.login-border{
    width: 100%;
    height: auto;
    background-color: #03c04a;
    padding: 50px;
}

.login-box{
    width: 40%;
    height: auto;
    background-color: #f5fafa;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #808080;
    padding: 20px 40px;
}

.login-box input{
    padding: 5px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: none;
    outline: 1px solid #03c04a;
    border-radius: 3px;
}

input.password{
    margin-top: 20px;
}

p.log-in{
    padding: 15px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 50px;
    color: #f5fafa;
    background-color: #03c04a;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 0;
    cursor: pointer;
}

p.forgot-pw{
    margin-bottom: 20px;
    text-align: end;
    cursor: pointer;
}

p.log-in:hover{
    opacity: 0.8;
}

.login-box hr{
    height: 2px;
    background-color: #000000;
}

p.or{
    background-color: #f5fafa;
    text-align: center;
    position: relative;
    bottom: 26px;
    left: 46%;
    width: 30px;
}

.login-box img{
    width: 35px;
}

a.g-icon{
    float: left;
    width: 48%;
    height: 45px;
    text-align: center;
    border: 1px solid #000000;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 40px;
    border-radius: 5px;
}

a.fb-icon{
    float: right;
    width: 48%;
    height: 45px;
    text-align: center;
    border: 1px solid #000000;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.login-box label{
    cursor: pointer;
}
a.fb-icon:hover, a.g-icon:hover{
    cursor: pointer;
    background-color: #0a0a0a;
    color: #f5fafa;
}

p.dont{
    text-align: center;
}

label.sign-green{
    color: #03c04a;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.login-box a{
    text-decoration: none;
}

@media (min-width: 300px) and (max-width: 400px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .login-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .login-box{
        width: 95%;
        padding: 20px 30px;
    }

}

@media (min-width: 401px) and (max-width: 500px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .login-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .login-box{
        width: 85%;
        padding: 20px 40px;
    }

}

@media (min-width: 501px) and (max-width: 600px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .login-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .login-box{
        width: 75%;
        padding: 20px 40px;
    }

}

@media (min-width: 601px) and (max-width: 800px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .login-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .login-box{
        width: 60%;
        padding: 20px 40px;
    }

}


    /*PAYMENT PAGE*/
.payment-border{
    width: 100%;
    height: auto;
    background-color: #03c04a;
    padding: 50px;
}

.payment-box{
    width: 40%;
    height: auto;
    background-color: #f5fafa;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #808080;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.payment-form{
    font-weight: 600;
    font-size: 1.3rem;
    margin: 10px 0px;
}

.payment-box img{
    width: 100px;
    margin: 5px;
    cursor: pointer;
}

.payment-box .payment-input{
    padding: 5px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    border: none;
    outline: 1px solid #03c04a;
    border-radius: 3px;
    margin: 15px 0px;
   
}

.payment-box .payment-text{
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 0px;
    margin-bottom: 20px;
}

.e-wallet{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 10px;
    width: 50%;
    box-shadow: 0px 0px 1px 1px #808080;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.e-wallet:hover{
    box-shadow: 0px 0px 3px 1px #808080;
}

.e-box{
    padding: 0;
    width: 100%;
    height: auto;
    margin: 20px 0px;
}

.totalco{
    font-weight: 600;
    font-size: 1.3rem;
    margin: 10px 0px;
}

.confirm-btn{
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #f5fafa;
    background-color: #000000;
    opacity: 0.8;
    border-radius: 3px;
}

.confirm-btn:hover{
    opacity: 1;
    cursor: pointer;
}


@media (min-width: 300px) and (max-width: 400px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .payment-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .payment-box{
        width: 95%;
        padding: 20px 30px;
    }

}

@media (min-width: 401px) and (max-width: 500px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .payment-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .payment-box{
        width: 85%;
        padding: 20px 40px;
    }

}

@media (min-width: 501px) and (max-width: 600px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .payment-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .payment-box{
        width: 75%;
        padding: 20px 40px;
    }

}

@media (min-width: 601px) and (max-width: 800px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .payment-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .payment-box{
        width: 60%;
        padding: 20px 40px;
    }

}


    /*CONTACT PAGE*/
.contact-border{
    width: 100%;
    height: auto;
    background-color: #03c04a;
    padding: 50px;
}

.contact-box{
    width: 40%;
    height: auto;
    background-color: #f5fafa;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #808080;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contact-box p{
    font-size: 18px;
}

.contact-box :first-child{
    font-size: 24px;
}

.email{
    font-size: 100%;
    width: 130px;
    height: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: black;
    opacity: 0.8;
}

.email:hover{
    opacity: 1;
}


@media (min-width: 300px) and (max-width: 400px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .contact-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .contact-box{
        width: 95%;
        padding: 20px 30px;
    }

}

@media (min-width: 401px) and (max-width: 500px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .contact-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .contact-box{
        width: 85%;
        padding: 20px 40px;
    }

}

@media (min-width: 501px) and (max-width: 600px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .contact-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .contact-box{
        width: 75%;
        padding: 20px 40px;
    }

}

@media (min-width: 601px) and (max-width: 800px){

    .nav-box a{
        left: 0;
        margin-right: 30px;
    }

    .contact-border{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .contact-box{
        width: 60%;
        padding: 20px 40px;
    }

}